<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Todo</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
      rel="stylesheet"
    />

    <!-- main.css -->
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- nav bar -->
    <%- include('nav.html') %>

    <!-- write form -->

    <h4 class="container mt-4">Sign Up</h4>

    <div class="container mt-3 col-md-6">
      <form class="row g-3 center" action="/signup" method="POST">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="text" class="form-control" id="id" name="id" 
            placeholder="xxx@gmail.com">
            <p id="id-alert"></p>
          </div>
          <div class="col-md-12" >
            <label for="inputPhone" class="telno form-label">Phone</label><br>
            <input type="text" class="form-control" id="telno1" name="telno1" style="display: inline; width:30%;">
            <label for="inputPhone" class="telno form-label">-</label>
            <input type="text" class="form-control" id="telno2" name="telno2"  style="display: inline; width:30%;">
            <label for="inputPhone" class="telno form-label">-</label>
            <input type="text" class="form-control" id="telno3" name="telno3"  style="display: inline; width:30%;">
            <p id="tel-alert"></p>
          </div>
          <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="pw" name="pw" 
            placeholder="영문대소문자,숫자 6~20자리 이내로 입력바랍니다.">
            <p id="pw-alert"></p>
          </div>
          <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Reconfirm Password</label>
            <input type="password" class="form-control" id="pw2" name="pw2" 
            placeholder="영문대소문자,숫자 6~20자리 이내로 입력바랍니다.">
            <p id="pw-alert2"></p>
          </div>
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
    </div>

    <!-- 회원 가입 유효성 검증 -->
    <script>

          // // id, pw input에 저장된 값 가져옴.
          // 주석처리 : 실시간으로 받아오는 게 아니라 에러 떠서
          let id = $('#id');
          let pw = $('#pw');
   
          // id, pw, tel 경고문 p태그 
          let emailAlert = $('#id-alert');
          let pwAlert = $('#pw-alert');
          let pwAlert2 = $('#pw-alert2');
          let telAlert = $('#tel-alert');

          // id, pw 정규식
          let emailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i; //영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.
          let pwRegExp = /^.*(?=.{8,16})(?=.*[0-9])(?=.*[a-zA-Z]).*$/; //8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.
          let telRegExp = /^(?:(010\d{4})|(01[1|6|7|8|9]\d{3,4}))(\d{4})$/;

          // 가입여부 체크 
          let check = false;

          // id(이메일 형식 검증) 
          $('#id').on('input', function(e){
            
            // $('#id').val() :여기다가 넣어줘야 실시간으로 검증 가능
            if (!emailRegExp.test($('#id').val())){
              //폼의 전송을 막는다.
              e.preventDefault();
              //안내문 띄움.
              emailAlert.css('color','skyblue'); 
              emailAlert.text('영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.');
              check = false;
            } else {
              //안내문 띄움.
              emailAlert.css('color','green'); 
              emailAlert.text('');
              check = false;
            }
          });

          //id(이메일) 중복체크
          $('#id').on('focusout',function(e){
              let userId = $(id).val();

              $.ajax({
                method: "GET",
                url: "/idCheck/",
                contentType: "application/json",
                data: { id: userId },
              })
              .done(function (result) {

                //AJAX 성공
                if(result.id == userId){
                  //중복된 아이디가 존재하면
                  emailAlert.css('color','skyblue');
                  emailAlert.text(result.message);
                  check = false;
                } else {
                  //새로운 아이디일 경우
                  emailAlert.css('color','green'); 
                  emailAlert.text('멋진 아이디네요!');
                  check = true;
                }
              })
              .fail(function (xhr, textStatus, errorThrown) {
                //AJAX 실패
                console.log(xhr, textStatus, errorThrown);
              });
            });

          

          // pw(패스워드 형식 검증)
          $('#pw').on('input', function(e){
              
            if (!pwRegExp.test($('#pw').val())){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움. 
                pwAlert.css('color','skyblue');
                pwAlert.text('8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.')
                check = false;
              } else {
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움. 
                pwAlert.css('color','green');
                pwAlert.text('안전한 비밀번호 입니다.');
                
                // pw2(패스워드 형식 검증) - 위의 입력폼과 일치하는지 
                $('#pw2').on('input', function(e){
                    
                    if ($('#pw').val() != $('#pw2').val()){
                        //폼의 전송을 막는다.
                        e.preventDefault();
                        //안내문 띄움. 
                        pwAlert2.css('color','skyblue');
                        pwAlert2.text('비밀번호가 일치하지 않습니다.')
                        check = false;
                      } else {
                        //안내문 띄움. 
                        pwAlert2.css('color','green');
                        pwAlert2.text('비밀번호가 일치합니다.')
                        check = true;
                      }
        
                  })
              }

          })

          // phone 형식 검증
          $("#telno1").on('focusout', function(e){
            //  console.log($('#telno1').val());
             let tel = $('#telno1').val();
             if (tel.length != 3) {
                //폼의 전송을 막는다.
                e.preventDefault();
                telAlert.css('color','skyblue');
                telAlert.text('휴대폰번호를 정확히 입력해주세요.');
                check = false;
             }
             
             $("#telno2").on('focusout', function(e){
                // console.log($('#telno2').val());
                tel = tel + String($('#telno2').val());
                if (tel.length != 7) {
                    //폼의 전송을 막는다.
                    e.preventDefault();
                    telAlert.css('color','skyblue');
                    telAlert.text('휴대폰번호를 정확히 입력해주세요.');
                    check = false;
                }

                $("#telno3").on('focusout', function(e){
                  // console.log($('#telno3').val());
                  tel = tel + String($('#telno3').val());
                  
                  if(!telRegExp.test(tel) && tel.length != 11){
                    //폼의 전송을 막는다.
                    e.preventDefault();
                    telAlert.css('color','skyblue');
                    telAlert.text('휴대폰번호를 정확히 입력해주세요.');
                    check = false;
                  } else {
                    telAlert.css('color','green');
                    telAlert.text('올바른 전화번호 양식입니다.');
                    check = true;
                  }
              })
            })
          })

          // 회원가입 폼 빈칸 검사 - 폼의 전송을 막는다.
          $('form').on('submit', function(e){
            
              // id가 공백일 때 
              if($('#id').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
               //안내문 띄움.
               emailAlert.css('color','skyblue'); 
               emailAlert.text('필수정보입니다.');
               check = false;
              } 

              // pw가 공백일 때 
              if($('#pw').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움.
                pwAlert.css('color','skyblue'); 
                pwAlert.text('필수정보입니다.');
                check = false;
              }

              // pw2가 공백일 때 
              if($('#pw2').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움.
                pwAlert2.css('color','skyblue'); 
                pwAlert2.text('필수정보입니다.');
                check = false;
              }

              // telno가 공백일 때 
              if($('#telNo').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움.
                telAlert.css('color','skyblue'); 
                telAlert.text('필수정보입니다.');
                check = false;
              }
              
              // 유효성 검증
              if(check){
                //비동기 처리이벤트
                setTimeout(function() {
                alert("가입이 완료되었습니다.")
                },0);
              } else {
                e.preventDefault();
              }
             
          })



    </script> 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>
