<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Todo</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
      rel="stylesheet"
    />

    <!-- main.css -->
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <!-- nav bar -->
    <%- include('nav.html') %>

    <!-- write form -->

    <h4 class="container mt-4">Sign Up</h4>

    <div class="container mt-3">
      <form class="row g-3" action="/signup" method="POST">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="id" name="id" 
            placeholder="xxx@gmail.com">
            <p id="id-alert"></p>
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="pw" name="pw" 
            placeholder="영문대소문자,숫자 6~20자리 이내로 입력바랍니다." onClick="pwChk();">
            <p id="pw-alert"></p>
          </div>
          <div class="col-12 mt-4 mb-4">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </form>
    </div>

    <!-- 아이디 비밀번호 검증 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>

          // 1. 아이디 빈칸 검사하기 
          // 변수에 저장해서 쓰는 게 훨씬 나음.
          // $('#email-alert') 찾는데 시간이 오래걸리므로 
          let emailAlert = $('#id-alert');
          let pwAlert = $('#pw-alert');
          
          // id & pw 빈칸 검사
          $('form').on('submit', function(e){
              
              // 만약에 이메일 input에 입력된 값이 빈칸인 경우, 폼의 전송을 막음
              if($('#id').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움. 
                emailAlert.text('아이디가 빈칸입니다.');
                emailAlert.css('color','skyblue');
              } 
              
              if($('#pw').val() == ''){
                //폼의 전송을 막는다.
                e.preventDefault();
                //안내문 띄움. 
                pwAlert.text('패스워드가 빈칸입니다.');
                pwAlert.css('color','skyblue');
              }

              
             
          })



    </script> 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>
